
.box{
    background-color: #1C1C1C;
    padding: 5rem 3rem;
    color: white;
}
.text h2{
    padding: .5rem .5rem;
}
.text ul{
    list-style: none;
    text-decoration: none;
}
.text li{
    padding: .3rem;
}
.address{
    color: var(--btnColor);
}
.line{
    margin-top: 4rem;
    padding-top: 1rem;
    border-top: 1px solid gray;
    text-align: center;
}
